<nav class="navbar">
  <div class="nav-content">
    <div class="logo">
      <a href="/" class="brandname">earnwave</a>
    </div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/jobs">Jobs</a>
      <a href="/jobs/create">Post Job</a>
    </div>
    <div>
      <% if (token) { %>
      <button class="logout-btn" onclick="window.location.href='/logout'">
        Logout
      </button>
      <% }else{ %>
      <button class="sign-up-btn" onclick="location.href='/signup'">
        Sign up
      </button>
      <button class="login-btn" onclick="location.href='/login'">Log in</button>
      <% } %>
    </div>
  </div>
</nav>
