<nav class="navbar">
  <div class="nav-content">
    <div class="logo">
      <a href="/" class="brandname">EarnWave</a>
    </div>
    <div class="hamburger-menu" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-links" id="navLinks">
      <a href="/">Home</a>
      <a href="/jobs">Jobs</a>
      <a href="/jobs/create">Post Job</a>
      <a href="/jobs/myjobs">My Jobs</a>
      <% if (token) { %>
      <a class="logout-btn" href="/logout">Logout</a>
      <% } else { %>
      <button class="sign-up-btn" onclick="location.href='/signup'">Sign up</button>
      <button class="login-btn" onclick="location.href='/login'">Log in</button>
      <% } %>
    </div>
  </div>
</nav>

<script>
  function toggleMenu() {
    const navLinks = document.getElementById('navLinks');
    navLinks.classList.toggle('active');
  }
</script>
